.main {
  margin: 20px;
  width: 1600px;
  height: 800px;
  padding: 20px;
  display: flex;
  background-image: lightgrey;
}

#nav {
  width: 400px;
  display: flex;
}

#messages {

}

#chat {
  background-color: white;
  height: 600px;
  width: 700px;
  border-radius: 5px;
  color: black;
  font-size: 30px;
  padding: 10px;
  margin: 20px;
}
#in_chat {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
  height: 600px;

}
#p_messages {
  padding: 20px;
}
#send_message {
  display: flex;
  justify-content: center;
}
#send {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 2px solid grey;
  height: 30px;
  width: 50px;
  border-radius: 4px;
  margin-top: -8px;
}

input#m {
  margin-right: 20px;
  border: 2px solid grey;
  border-radius: 4px;
  width: 650px;
  height: 20px;
  padding: 5px;
  margin-top: -10px;
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.5);
}

li{
  list-style-type: none;
  padding: 5px;
}

#inside {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  /* padding: 20px; */
  padding-top: 0px;
  padding-bottom: 0px;
  width: 1600px;
  height: 800px;
  /* height: 775px; */
  background-color: lightgrey;
}

#list_user {
  text-align: left;
  height: 20px;
  font-size: 20px;
}

#list {
  overflow: auto;
  height: 680px;
  margin-top: 20px;
  margin-left: 100px;
}

#list_user_channel {
  text-align: left;
  height: 20px;
  font-size: 20px;
}

#go {
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border: 2px solid grey;
  height: 55px;
  width: 60px;
  border-radius: 4px;
}

#go:hover {
  background-color: #e7e7e7;
}

#form_go {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  margin: auto;
}

input[type=text] {
  margin-right: 20px;
  border: 2px solid grey;
  border-radius: 4px;
  width: 600px;
  height: 50px;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.button {
  background-color: grey; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn_nav {
  color: white ;
  font-size: 20px;
  font-weight: 1000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: lightgrey;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.btn_nav:hover {
  background-color:lightgrey;
  color: white;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

section {
  margin: 20px;
  padding-left: 20px;
  border-left: 1px solid black;
}

h1 {
  text-transform: uppercase;
}

body {
  display: flex;
  justify-content: center;
  /* background-image: url("https://media.giphy.com/media/3ov9jElZiQOttXCxm8/giphy.gif") */
  /* background-image: url("https://media.giphy.com/media/11Br38TUpXchNK/giphy.gif") */
  background-color: white;

}
